beautifulsoup4
bertopic[all]
flask
gensim
html5lib
huggingface_hub
langchain
lxml
matplotlib
openai
pandas
pymupdf
requests
scikit-learn
sentence-transformers
streamlit
tqdm
transformers
umap-learn
wordcloud


